* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}


/* -- Navigation 1 -- */

.navigation-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-width: 50%;

  background-color: pink; 
  padding: .3em;
  list-style:none;
}

.nav-link {
  padding: 1em;
  border-right: solid 2px red;
  color:red;
}

.nav-link:last-child {
  border-right: none;
}

.wrapper-1 {
  display:flex;
  justify-content: center;
  min-height: 100vh;
}

/* -- Navigation 2 -- */

.navigation-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  min-width: 50%;

  background-color: pink; 
  padding: .3em;
  list-style:none;
}

.wrapper-2 {
  display:flex;
  justify-content: center;
  min-height: 100vh;
}

.nav-flex {
  flex-grow: 1;
  text-align:center;
}

/* -- Navigation 3 -- */

.navigation-3 {
  display: flex;
  justify-content: center;

  margin: auto;
  min-width: 50em; /*50%;*/

  background-color: pink; 
  list-style:none;
}

.wrapper-3 {
  display:flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 50em;
}

.nav-link3 {
  padding: .5em 1em;
  margin: .5em 0em;
  border-left: solid 2px red;
  color:red;
}

.logo {
  margin: 0px auto 0 0;
  align-content: center;

  font-weight: bolder;
  background-color: red;
  color: white;
}



.items {
  display: flex;
}

/* -- media -- */

@media screen and (max-width: 50em) {

  .navigation-3 {
    display: flex;
    flex-direction: column;

    margin: auto 0%;
    min-width: 100%;
  }

  .wrapper-3 {
    min-width: 100%;
  }

  .logo {
    min-width: 100%;
    min-height: 3em;
    text-align: center;
  }

  .nav-link3 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    line-height: 2.5em;
    padding: auto;
  }

  .nav-link3:first-child {
    border-left: none;
  }

}